header{
  
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    
    
}

.navigation-menu{
    margin-top: 56px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    margin: 37px 0 0 48px;
}

nav{
    display: none;
}